<?xml version="1.0" ?>

<launch>

	<!-- Load parameters to paramter server -->		
		<rosparam file="$(find pub_desired_states)/params/bebop2.yaml" command="load"/>

	<!-- Run pub_desired_states node -->
		<node pkg="pub_desired_states" type="pub_desired_states" name="pub_desired_states_node" output="screen"/>

	<!-- Run open_loop_controller node -->
    <node pkg="pub_desired_states" type="open_loop_controller" name="open_loop_controller_node" output="screen">
			<remap from="/cmd_vel" to="/cmd_vel"/>
		</node>

	<!-- Run pub_desired_path_client_square node -->
    <node pkg="pub_desired_states" type="pub_desired_path_client_square" name="pub_desired_path_client_square_node" output="screen">
			<param name="square_size" value="4.0"/>
		</node>

</launch>
